body {
  margin: 0;
  background-color: #545A54;
  font-family: 'Goldman', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
}

/* Apply Stalinist One font to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Stalinist One', sans-serif;
  color: #FFFFFF;
}

.App {
  text-align: center;
}

.content {
  padding: 20px;
}

